name: 'tflint-dev'

on: 
  push:
    branches:
      - dev

jobs:
  terraform:
    name: 'Terraform lint/validation'
    runs-on: ubuntu-latest
    steps:
    - name: Check out code  
      uses: actions/checkout@v2

    - name: Setup Terraform  
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Run a Terraform Init
      run: terraform init  

    - name: Terraform Format
      run: terraform fmt -check -recursive -diff

    - name: Terraform Validate
      run:  terraform validate -no-color 

    - name: Terraform Plan
      id: plan
      run: terraform plan -no-color
      continue-on-error: true
